DEBUG=True
SECRET_KEY=
DATABASE_URL=sqlite:///db.sqlite3
COHERE_API_KEY=
TAVILY_API_KEY=
TRANSLATE_API_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://127.0.0.1:8000/accounts/gmail/callback/
CELERY_BROKER_URL=redis://localhost:6379/0
PUBSUB_VERIFICATION_TOKEN=YOUR_PUBSUB_VERIFICATION_TOKEN
ALLOWED_HOSTS=your-app.up.railway.app